$white-color: #FFFFFF;
$black-color: #000000;
$main-color: #2196F3;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$gray-color: #F5F4FA;
$tint-color-1: rgba(255, 255, 255, 0.1);
$tint-color-6: rgba(255, 255, 255, 0.6);
$btn-active-color: #188CE8;
$background-color: #2F303A;
$icon-color: #AFB1B8;